<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kolla vädret @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="container">

        <aside>
            <div class="row">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("~/Views/Shared/_AuthenticatedAccountBar.cshtml")
                }
                else
                {
                    @Html.Partial("~/Views/Shared/_UnauthenticatedAccountBar.cshtml")
                }
            </div>
        </aside>

        <header>
            <div class="row">
                <div class="col-xs-12">
                    <h1 id="page-head" class="text-center">
                        <a href="/"><img id="page-head-image" src="~/Content/Images/Logo.png" alt="Kolla vädret" /></a>
                    </h1>
                </div>
            </div>
        </header>

        <aside>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    @using (Html.BeginForm("Search", "Forecast", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <div class="input-group">
                            @Html.Label("Sök på ort eller plats", new { @for = "search", @class = "sr-only" })
                            @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Sök ort eller plats" })
                            <span class="input-group-btn">
                                <input class="btn btn-primary" type="submit" value="Sök" />
                            </span>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                @if (TempData["Success"] != null)
                {
                    @Html.Partial("~/Views/Shared/_SuccessMessage.cshtml", TempData["Success"].ToString())
                }
                @if (TempData["Error"] != null)
                {
                    @Html.Partial("~/Views/Shared/_ErrorMessage.cshtml", TempData["Error"].ToString())
                }
            </div>
        </aside>

        <main>

            @RenderBody()

        </main>
        <footer>
            <div class="row">
                <div class="text-center col-xs-12">
                    <p id="credits">Väderdata hämtas från vädersajten <a href="http://www.yr.no/">www.yr.no</a></p>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
